.logo-con {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.search-con {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#display-cards{
    gap: 15px;
    flex-wrap: wrap;
}

.card-con{
    box-shadow: 4px 4px 8px gray;
}

#details-card{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 15px;
}